<!DOCTYPE html>
<title>light_site</title>
<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/form">Form</a>
  </div> 
<h1>light_site</h1>
<body>
    {% block main %}
    {% endblock %}
</body>

<footer>
    <p>Author: Andrew DeSanti</p>
    <p><a href="mailto:andrewdesanti18@gmail.com">andrewdesanti18@gmail.com</a></p>
  </footer> 

<style>
.topnav {
    background-color: darkgray;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  footer {
  text-align: center;
  padding: 3px;
  background-color: darkgrey;
  color: black;
}

</style>